* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 3rem;
}
.navigation {
  /* width: 50%; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-box {
  margin: 0 2rem 0 1.5rem;
}
.logo-box img {
  width: 8rem;
}

.navigation ul li {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
}

.navigation ul li:hover {
  color: #145796;
}

.btn {
  padding: 0.7rem;
  border: none;
  background-color: #145796;
  font-size: 1.15rem;
  border-radius: 15%;
  color: #fff;
  cursor: pointer;
}

/* hero section /////////////////// */

.hero-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.hero-right-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2rem 3.2rem;
  text-align: left;
}

.hero-right {
  width: 50%;
}
.hero-right h1 {
  padding: 0.3rem;
  margin: 1.5rem 0rem;
  font-weight: 900;
  font-size: 3.2rem;
  color: #000000d2;
}
.hero-right h1 span {
  color: #145796;
}

.hero-right p {
  margin-bottom: 2rem;
}

.hero-left {
  width: 80%;
}
.hero-left img {
  width: 100%;
  height: 80%;
}
